extends layout
block content

	h2 Not Authenticated

	p Please login using one of the following providers:

	#userpass
		a(href='/login') Username/Password

	#register
		a(href='/register') Register New Account

	#facebook
		a(href='/auth/facebook') Facebook

	#twitter
		a(href='/auth/twitter') Twitter
