extends layout
block content

	if indexmessage
		//- this can only be a success
		div(class="alert alert-success alert-dismissable alert-autohide")
			button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
			= indexmessage


	h1 Not Authenticated

	p Please login using one of the following providers:

	#userpass
		a(href='/login') Username/Password

	#register
		a(href='/register') Register New Account

	#facebook
		a(href='/auth/facebook') Facebook

	#twitter
		a(href='/auth/twitter') Twitter
