doctype
html

	head
		title node-base

		//- load a remote resource
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')

		//- load a resource from our www folder
		script(type="text/javascript", src="/js/client.js")

	body
		ul#menu
			li: a(href='/app') App Home

			if userId
				li: a(href='/user') User Data for #{user.name}
				li: a(href='/logout') Log Out

		block content
